@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container my-5">
    <h1 class="text-primary mb-4">@ViewData["Title"]</h1>

    <p class="lead">
        Cookies 
    </p>

    <p>
      
        Αν αφήσετε ένα σχόλιο στον ιστότοπό μας, μπορείτε να επιλέξετε να αποθηκεύσετε το όνομα και τη 
        διεύθυνση ηλεκτρονικού ταχυδρομείου σας σε cookies. Αυτά είναι για τη δική σας ευκολία, 
        έτσι ώστε να μην χρειάζεται να συμπληρώσετε τα στοιχεία σας πάλι όταν αφήσετε ένα άλλο σχόλιο. 
        Αυτά τα cookies θα διαρκέσουν για ένα έτος. 
        Cookies χρησιμοποιεί επίσης η υπηρεσία Google Analytics, 
        την οποία χρησιμοποιούμε ώστε να ενημερωνόμαστε σχετικά με την επισκεψιμότητα του ιστοτόπου. 
        Αυτή η ενημέρωση αφορά συγκεντρωτικά στοιχεία που είναι ανώνυμα ως προς τους επισκέπτες. 
        Αυτοί οι ιστότοποι ενδέχεται να συλλέγουν δεδομένα για εσάς,
        χρησιμοποιούν cookies, ενσωματώνουν επιπλέον παρακολούθηση 
        τρίτου μέρους και να παρακολουθούν την αλληλεπίδρασή σας με αυτό το περιλαμβανόμενο περιεχόμενο,
        συμπεριλαμβανομένης της ανίχνευσης της αλληλεπίδρασής σας με το περιλαμβανόμενο περιεχόμενο,
        εάν έχετε λογαριασμό και έχετε συνδεθεί στο συγκεκριμένο ιστότοπο.
    </p>

    <p>
        Επιπλεόν πληροφορίες Επικοινωνήστε μαζί μας για περαιτέρω 
        πληροφορίες σχετικά με την πολιτική απορρήτου.
    </p>
</div>
